## Классификация по методу k ближайших соседей

![](https://sun9-61.userapi.com/c851128/v851128702/1ea192/JRCj4v7zX1Q.jpg)
*Картинка для привлечения внимания.  Сам нарисовал. Нравится?*

In [11]:
ds = pd.read_excel('class1.xlsx')

In [12]:
ds

    Class  FreeTime  Power  Money
0   Young        12     29      1
1   Young        10     33      5
2   Young         8     37      6
3   Young        18     31      9
4   Young        14     43      2
5   Young        13     33      3
6   Young         9     37      7
7   Young        10     40      4
8   Young        11     32      6
9   Young        15     41      4
10  Young        11     35      9
11  Young        13     46      2
12  Adult         3     21     28
13  Adult         7     28     34
14  Adult         2     18     34
15  Adult         4     23     36
16  Adult         1     25     39
17  Adult         6     21     36
18  Adult         3     30     35
19  Adult         1     23     37
20  Adult         5     31     33
21  Adult         2     26     29
22  Adult         4     22     39
23  Adult         2     32     28
24    Old        10     14     26
25    Old        15     12     20
26    Old         9     11     24
27    Old        15     10     25
28    Old        16     11     23
29    Old        12     17     18
30    Old        10     12     18
31    Old         7     12     25
32    Old        14     17     25
33    Old        14     11     19
34    Old        14     12     17
35    Old        12     12     30

In [16]:
X = ds[['FreeTime', 'Power', 'Money']]
Y = ds['Class']

In [21]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, random_state = 0, test_size = 0.3)

In [23]:
mf_knn = KNeighborsClassifier()
mf_knn.fit(x_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

In [26]:
x_test

    FreeTime  Power  Money
31         7     12     25
20         5     31     33
16         1     25     39
30        10     12     18
22         4     22     39
15         4     23     36
10        11     35      9
2          8     37      6
11        13     46      2
29        12     17     18
27        15     10     25

In [27]:
mf_knn.predict(x_test)

array(['Old', 'Adult', 'Adult', 'Old', 'Adult', 'Adult', 'Young', 'Young',
       'Young', 'Old', 'Old'], dtype=object)

In [28]:
y_test

31      Old
20    Adult
16    Adult
30      Old
22    Adult
15    Adult
10    Young
2     Young
11    Young
29      Old
27      Old
Name: Class, dtype: object

In [40]:
mf_knn.predict([[14,35,2]])

array(['Young'], dtype=object)